body{
    margin: 0;
    padding: 0;
    background: #555;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #222;

}
.clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;



}

.clip1 {
    background: url(https://unsplash.com/photos/selective-photography-of-green-leaf-plant-Rfflri94rs8);
    background-size: cover;
    background-position: center;
}
.clip2 {
    background: url(https://unsplash.com/photos/selective-photography-of-green-leaf-plant-Rfflri94rs8);
    background-size: cover;
    background-position: center;
}
.clip3 {
    background: url(https://unsplash.com/photos/selective-photography-of-green-leaf-plant-Rfflri94rs8);
    background-size: cover;
    background-position: center;
}

