*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.card{
    width: 700px;
    background:#ccc ;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 20px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#38b1d3, #0c3c46
);
    border-radius: 20px;
}