* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HERO SECTION */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(12, 3, 51, 0.3),
        rgba(12, 3, 51, 0.3)
    );
    overflow: hidden;
}

/* VIDEO */
.backvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* CONTENT */
.content {
    text-align: center;
}

.content h1 {
    font-size: 160px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px #d4af37; /* gold stroke */
    transition: color 0.5s, text-shadow 0.5s, background-position 0.5s;
}

/* GOLD HOVER */
.content h1:hover {
    background: linear-gradient(
        45deg,
        #fff1a8,
        #d4af37,
        #b8860b,
        #ffd700
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    text-shadow:
        0 0 8px rgba(212, 175, 55, 0.6),
        0 0 20px rgba(212, 175, 55, 0.4),
        0 0 40px rgba(212, 175, 55, 0.2);
}

.content a {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 50px;
    font-size: 24px;
    text-decoration: none;
    color: #d4af37;
    border: 1px solid #d4af37;
    background: transparent;
    transition: 
        color 0.4s,
        background 0.4s,
        box-shadow 0.4s,
        transform 0.3s;
}

/* GOLD HOVER */
.content a:hover {
    background: linear-gradient(
        45deg,
        #fff1a8,
        #d4af37,
        #b8860b,
        #ffd700
    );
    color: #000;
    border-color: #d4af37;

    box-shadow:
        0 0 10px rgba(212, 175, 55, 0.6),
        0 0 25px rgba(212, 175, 55, 0.4);

    transform: translateY(-2px);
}


/* RESPONSIVE TEXT */
@media (max-width: 768px) {
    .content h1 {
        font-size: 80px;
    }
}
